<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="progmob2023_flutter"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- ... your existing application configuration ... -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- ... your existing activity configuration ... -->
        </activity>
        <!-- ... your existing meta-data and application configuration ... -->
    </application>
    <!-- Add the following line to request permission to access the internet. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>